.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.icon {
  filter: invert(74%) sepia(16%) saturate(321%) hue-rotate(180deg)
    brightness(97%) contrast(85%);
  margin-right: 0.5rem;
  height: 40px;
  width: 40px;
  transition: filter 0.3s ease-in-out;
}

.link:hover {
  color: white;

  .icon {
    filter: invert(100%) sepia(16%) saturate(0%) hue-rotate(180deg)
      brightness(100%) contrast(100%);
  }
}
