---
import { ContentfulPage } from "../components/contentful-page";
import { contentfulClient } from "../lib/contentful";
import type { TypePageSkeleton } from "../types/contentful";
import "@fontsource-variable/inter";
import "@fontsource-variable/fira-code";

const page = await contentfulClient.getEntry<TypePageSkeleton>(
  "1GaXnCzWwz8gVnTNWQcB4I",
  { include: 10 },
);

const {
  fields: { seoMetadata, sections },
} = page;
---

<html lang="en" class="bg-[#2e343b] font-mono">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={seoMetadata?.fields.favicon?.fields.file?.url}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{seoMetadata?.fields.title}</title>
  </head>
  <body class="text-slate-400 selection:bg-slate-400 selection:text-white">
    <ContentfulPage sections={sections} />
  </body>
</html>
