---
import Hero from "../components/hero";
---

<style>
  html {
    background-color: #2e343b;
    color: #aab6cc;
    font-family: "Roboto Mono", Menlo, Monaco, Courier, monospace;
  }
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Conor Butler | Softare Developer | London, UK</title>
  </head>
  <body>
    <Hero title="Title" subtitle="Subtitle" />
  </body>
</html>
