---
import ContentfulPage from "../components/contentful-page";
import { contentfulClient } from "../lib/contentful";
import type { TypePageSkeleton } from "../types/contentful";
import "@fontsource-variable/inter";
import "@fontsource-variable/fira-code";

const page = await contentfulClient.getEntry<TypePageSkeleton>(
  "1GaXnCzWwz8gVnTNWQcB4I",
  { include: 10 },
);

const {
  fields: { sections },
} = page;
---

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    html {
      font-family: "Fira Code Variable", "Roboto Mono", Menlo, Monaco, Courier,
        monospace;
      background-color: #2e343b;
      color: #aab6cc;
    }
  }
</style>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Conor Butler | Softare Developer | London, UK</title>
  </head>
  <body>
    <ContentfulPage sections={sections} />
  </body>
</html>
