---
import Hero from "../components/hero";
import { contentfulClient } from "../lib/contentful";
import type { TypeHeroSkeleton } from "../types/contentful";
import "../style/base.css";

const hero = await contentfulClient.getEntry<TypeHeroSkeleton>(
  "A2bjazM1xNJBTjL8bbpaC"
);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Conor Butler | Softare Developer | London, UK</title>
  </head>
  <body>
    <Hero
      {...hero.fields}
      links={hero.fields.links.map((linkData) => {
        const {
          fields: { icon, ...rest },
        } = linkData!;
        return {
          ...rest,
          iconUrl: linkData?.fields.icon?.fields.file?.url || "",
          iconLabel: linkData?.fields.icon?.fields.title || "",
        };
      })}
    />
  </body>
</html>
